AIRFLOW_UID=1000
DDARUNG_DATA_ROOT=/opt/ddarung-flow-data
BIKE_INVENTORY_SOURCE=api
RAW_STORAGE_MODE=oci
OCI_AUTH_MODE=instance_principal
OCI_BUCKET_NAME=ddarung-flow-bucket
OCI_REGION=ap-tokyo-1
SEOUL_OPEN_API_KEY=
KMA_SERVICE_KEY=
